# Elasticsearch Configuration

# ES_HOST=elasticsearch
# ES_PORT=9200
# ES_PASSWORD=

# Index Lifecycle Policies Name

# TEST_ILM=logs-app-ilm
# SYSTEM_ILM=logs-system-ilm

# Component Templates Name

# TEST_COMPONENT_TEMPLATE=logs-component-app
# SYSTEM_COMPONENT_TEMPLATE=logs-component-system

# Index Templates Name

# TEST_INDEX_TEMPLATE=logs-app-template
# SYSTEM_INDEX_TEMPLATE=logs-system-template

# Datastream Name

# TEST_INDEX=logs-app-default
# SYSTEM_INDEX=logs-system-default

